<div class="main-container">
  <div class="top-controls">
    <div class="upload-controls">
      <div class="upload-group">
        <label for="backgroundImage">Background Image:</label>
        <input type="file" id="backgroundImage" (change)="onBackgroundImageSelected($event)" accept="image/*">
      </div>
      <div class="upload-group">
        <label for="overlayImage">Overlay Image:</label>
        <input type="file" id="overlayImage" (change)="onOverlayImageSelected($event)" accept="image/*">
      </div>
    </div>
  </div>

  <div class="overlay-container" 
       tabindex="0" 
       (keydown)="onKeyDown($event)"
       #container>
    <div class="canvas-container" 
         [style.height]="containerHeight + 'px'"
         [style.width]="containerWidth + 'px'"
         (wheel)="onMouseWheel($event)">
      <canvas #canvas
              (mousedown)="onMouseDown($event)"
              (mousemove)="onMouseMove($event)"
              (mouseup)="onMouseUp()"
              (mouseleave)="onMouseUp()">
      </canvas>
    </div>
  </div>

  <div class="divider" 
       (mousedown)="startDividerDrag($event)"
       [class.dragging]="isDividerDragging">
  </div>

  <div class="controls" [style.height]="controlsHeight + 'px'">
    <div class="image-controls-container">
      <app-image-controls *ngIf="backgroundImage"
        title="Background Image"
        [image]="backgroundImage"
        [maintainAspectRatio]="maintainBackgroundAspectRatio"
        (imageChange)="updateCanvas()"
        (aspectRatioChange)="maintainBackgroundAspectRatio = $event; updateCanvas()"
        (resetSize)="resetBackgroundSize()">
      </app-image-controls>

      <app-image-controls *ngIf="overlayImage"
        title="Overlay Image"
        [image]="overlayImage"
        [isOverlay]="true"
        [maintainAspectRatio]="maintainOverlayAspectRatio"
        (imageChange)="updateCanvas()"
        (aspectRatioChange)="maintainOverlayAspectRatio = $event; updateCanvas()"
        (resetSize)="resetOverlaySize()"
        (resetRotation)="resetRotation()"
        (flipHorizontal)="toggleFlip('horizontal')"
        (flipVertical)="toggleFlip('vertical')">
      </app-image-controls>
    </div>

    <app-keyboard-shortcuts *ngIf="overlayImage">
    </app-keyboard-shortcuts>
  </div>
</div>
